<p id="notice"><%= notice %></p>
<br>
<br>
<div class="container">
<h1>LDAP Servers Settings</h1>
<br>
<%= link_to 'New Ldapserver', new_ldapserver_path, class: "btn btn-lg btn-primary" %>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Domain</th>
      <th>Host</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @ldapservers.each do |ldapserver| %>
      <tr>
        <td><%= ldapserver.description %></td>
        <td><%= ldapserver.domain %></td>
        <td><%= ldapserver.host %></td>
        <td><%= link_to 'Show', ldapserver, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_ldapserver_path(ldapserver), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', ldapserver, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>