<p id="notice"><%= notice %></p>

<BR>
<BR>
  
<%
require 'net/ldap'
          ldap2 = Net::LDAP.new
          ldap2.host = @ldapserver.host
          ldap2.port = @ldapserver.port
          ldap2.auth @ldapserver.username, @ldapserver.password
%>

<% if ldap2.bind %>
<h4><strong><span class="label label-success">Connected</span></strong></h4>
<%  else %>
<strong><span class="label label-danger">Failed</span></strong>
<%  end %>

<BR>

<p>
  <strong>Description:</strong>
  <%= @ldapserver.description %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @ldapserver.domain %>
</p>

<p>
  <strong>Host:</strong>
  <%= @ldapserver.host %>
</p>

<p>
  <strong>Port:</strong>
  <%= @ldapserver.port %>
</p>

<p>
  <strong>Login Attribute:</strong>
  <%= @ldapserver.attributename %>
</p>

<p>
  <strong>Base DN:</strong>
  <%= @ldapserver.base %>
</p>

<p>
  <strong>Username:</strong>
  <%= @ldapserver.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @ldapserver.password %>
</p>

<p>
  <strong>Method:</strong>
  <%= @ldapserver.method %>

</p>


<%= link_to 'Edit', edit_ldapserver_path(@ldapserver), class: "btn btn-warning" %> |
<%= link_to 'Back', ldapservers_path, class: "btn btn-default" %>
