<%= form_for(@newuser) do |f| %>
  <% if @newuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newuser.errors.count, "error") %> prohibited this newuser from being saved:</h2>

      <ul>
      <% @newuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "First Name" %><br>
    <%= f.text_field :firstname, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Last Name" %><br>
    <%= f.text_field :lastname, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Username (suggestion)" %><br>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= collection_select(:newuser, :company_id, @companies, :id, :name, {:prompt => false}, class: "form-control") %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br>
    <%= collection_select(:newuser, :site_id, @sites, :id, :name, {:prompt => false}, class: "form-control") %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Manager" %><br>
    <%= collection_select(:newuser, :grant_id, @grants, :id, :username, {:prompt => false}, class: "form-control") %>
  </div>
  <div class="field">
    <%= f.label "Phone" %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Mobile Phone" %><br>
    <%= f.text_field :mobile, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Home Phone" %><br>
    <%= f.text_field :homephone, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "IP Phone / Ext" %><br>
    <%= f.text_field :ipphone, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_field :City, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :State %><br>
    <%= f.text_field :State, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :Country %><br>
    <%= f.text_field :Country, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :postalcode %><br>
    <%= f.text_field :postalcode, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :pobox %><br>
    <%= f.text_field :pobox, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website, class: "form-control" %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
