<p id="notice"><%= notice %></p>
<br>
<br>
<div class="container">
<h4>Requests for new users</h4>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Title</th>
      <th>Company</th>
      <th>Site</th>
      <th>Department</th>
      <th>Grant</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @newusers.each do |newuser| %>
      <tr>
        <td><%= newuser.firstname %></td>
        <td><%= newuser.lastname %></td>
        <td><%= newuser.title %></td>
        <td><%= newuser.company.name %></td>
        <td><%= newuser.site.name %></td>
        <td><%= newuser.department %></td>
        <td><%= newuser.grant.username %></td>
        
        <% if Newuserldap.where(newusers_id: newuser.id).present? %>
        <td><%= link_to 'Review LDAP attributes', {:controller => :ldap, :action => :create, :id => newuser.id}, class: "btn btn-warning" %><BR><BR>
        <%= link_to 'Overwrite LDAP attributes', {:controller => :ldap, :action => :overwrite, :id => newuser.id}, data: { confirm: 'By continuing, you overwrite the attributes that have been set for this user, you sure?' }, class: "btn btn-default" %></td>
        <% else %>
        <td><%= link_to 'Create LDAP attributes', {:controller => :ldap, :action => :create, :id => newuser.id}, class: "btn btn-default" %></td>
        <% end %>
        
        
        <td><%= link_to 'Show user data', newuser, class: "btn btn-primary" %><BR><BR>
        <%= link_to 'Edit user data', edit_newuser_path(newuser), class: "btn btn-warning" %><BR><BR>
        <%= link_to 'Delete Request', newuser, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

