<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @newuser.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @newuser.lastname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @newuser.username %>
</p>

<p>
  <strong>Title:</strong>
  <%= @newuser.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @newuser.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @newuser.company_id %>
</p>

<p>
  <strong>Site:</strong>
  <%= @newuser.site_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @newuser.department %>
</p>

<p>
  <strong>Grant:</strong>
  <%= @newuser.grant_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @newuser.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @newuser.mobile %>
</p>

<p>
  <strong>Homephone:</strong>
  <%= @newuser.homephone %>
</p>

<p>
  <strong>Ipphone:</strong>
  <%= @newuser.ipphone %>
</p>

<p>
  <strong>Pager:</strong>
  <%= @newuser.pager %>
</p>

<p>
  <strong>Office:</strong>
  <%= @newuser.Office %>
</p>

<p>
  <strong>City:</strong>
  <%= @newuser.City %>
</p>

<p>
  <strong>Address:</strong>
  <%= @newuser.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @newuser.State %>
</p>

<p>
  <strong>Country:</strong>
  <%= @newuser.Country %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @newuser.postalcode %>
</p>

<p>
  <strong>Pobox:</strong>
  <%= @newuser.pobox %>
</p>

<p>
  <strong>Website:</strong>
  <%= @newuser.website %>
</p>

<%= link_to 'Edit', edit_newuser_path(@newuser) %> |
<%= link_to 'Back', newusers_path %>
