<p id="notice"><%= notice %></p>

<h1>New Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>sAMAccountName</th>
      <th>CN</th>
      <th>userPrincipalName</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newuserldap.each do |newuserldap| %>
      <tr>
        <td><%= newuserldap.id %></td>
        <td><%= newuserldap.displayname %></td>
        <td><%= newuserldap.sAMAccountName %></td>
        <td><%= newuserldap.cn %></td>
        <td><%= newuserldap.userPrincipalName %></td>
        <td><%= link_to 'Show', action: "show", id: newuserldap.newusers_id %></td>
        
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

