<p id="notice"><%= notice %></p>
<h4>Listing LDAP Attributes</h4>
<br><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>System Data</th>
      <th>LDAP Data</th>
      <th>Status</th>
    </tr>
  </thead>
  
  <tbody>
    
    <tr>
      <td><strong>dn:</strong></td>
      <td><%= @newuserldap.dn %></td>
      <td><%=  @dn %></td>
      <td>
        <% if (@newuserldap.dn == @dn) then %>
          <span class="label label-success">Match</span>
        <%  else %>
          <span class="label label-danger">Not Match</span>
        <%  end %>
      </td>
    </tr>
   
   
    <tr>
      <td><strong>cn:</strong></td>
      <%  cn = '["' + @newuserldap.cn + '"]' %>
      <td><%= cn %></td>
      <td><%=  @cn %></td>
      <td>
        <% if (cn == @cn) then %>
          <span class="label label-success">Match</span>
        <%  else %>
          <span class="label label-danger">Not Match</span>
        <%  end %>
      </td>
    </tr>
    
    <tr>
      <td><strong>userPrincipalName:</strong></td>
      <%  userPrincipalName = '["' + @newuserldap.userPrincipalName + '"]' %>
      <td><%= userPrincipalName %></td>
      <td><%=  @userPrincipalName %></td>
      <td>
        <% if (userPrincipalName == @userPrincipalName) then %>
          <span class="label label-success">Match</span>
        <%  else %>
          <span class="label label-danger">Not Match</span>
        <%  end %>
      </td>
    </tr>
    

<tr><td><strong>E-mail:</strong> <%= @newuserldap.mail %></td></tr>
<tr><td><strong>sAMAccountName:</strong> <%= @newuserldap.sAMAccountName %></td></tr>
<tr><td><strong>name:</strong> <%= @newuserldap.name %></td></tr>
<tr><td><strong>displayname:</strong> <%= @newuserldap.displayname %></td></tr>
<tr><td><strong>objectclass:</strong> <%= @newuserldap.objectclass %></td></tr>
<tr><td><strong>givenname:</strong> <%= @newuserldap.givenname %></td></tr>
<tr><td><strong>sn:</strong> <%= @newuserldap.sn %></td></tr>
<tr><td><strong>telephoneNumber:</strong> <%= @newuserldap.telephoneNumber %></td></tr>
<tr><td><strong>facsimileTelephoneNumber:</strong> <%= @newuserldap.facsimileTelephoneNumber %></td></tr>
<tr><td><strong>homePhone:</strong> <%= @newuserldap.homePhone %></td></tr>
<tr><td><strong>ipPhone:</strong> <%= @newuserldap.ipPhone %></td></tr>
<tr><td><strong>mobile:</strong> <%= @newuserldap.mobile %></td></tr>
<tr><td><strong>l:</strong> <%= @newuserldap.l %></td></tr>
<tr><td><strong>st:</strong> <%= @newuserldap.st %></td></tr>
<tr><td><strong>title:</strong> <%= @newuserldap.title %></td></tr>
<tr><td><strong>description:</strong> <%= @newuserldap.description %></td></tr>
<tr><td><strong>c:</strong> <%= @newuserldap.c %></td></tr>
<tr><td><strong>department:</strong> <%= @newuserldap.department %></td></tr>
<tr><td><strong>company:</strong> <%= @newuserldap.company %></td></tr>
<tr><td><strong>streetAddress:</strong> <%= @newuserldap.streetAddress %></td></tr>
<tr><td><strong>postalCode:</strong> <%= @newuserldap.postalCode %></td></tr>
<tr><td><strong>postOfficeBox:</strong> <%= @newuserldap.postOfficeBox %></td></tr>
<tr><td><strong>manager:</strong> <%= @newuserldap.manager %></td></tr>
<tr><td><strong>proxyAddresses:</strong> <%= @newuserldap.proxyAddresses %></td></tr>
<tr><td><strong>wWWHomePage:</strong> <%= @newuserldap.wWWHomePage %></td></tr>
<tr><td><strong>userPassword:</strong> <%= @newuserldap.userPassword %></td></tr>
<tr><td></td></tr>
<tr><td><%= link_to 'Add user to LDAP', {:controller => :ldap, :action => :build, :id => @newuser.id}, class: "btn btn-primary" %></td></tr>
<tr><td><%= link_to 'Edit attributes', {:controller => :ldap, :action => :edit, :id => @newuser.id}, class: "btn btn-warning" %></td></tr>
  </tbody>
</table>


