<%= form_for(@grant) do |f| %>
  <% if @grant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grant.errors.count, "error") %> prohibited this grant from being saved:</h2>

      <ul>
      <% @grant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>

  <select name="username">
    <%  @ldap.search( :base => @treebase, :filter => @filter ) do |entry| %>
      <option value="<%= entry.sAMAccountName %>"><%= entry.sAMAccountName %></option>
    <% end %>
  </select>

  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <select name="name">
    <%  @ldap.search( :base => @treebase, :filter => @filter ) do |entry| %>
      <option value="<%= entry.cn %>"><%= entry.cn %></option>
    <% end %>
  </select>
  
  
  <div class="field">
    <%= f.label :cn %><br>
    <%= f.text_field :cn %>
  </div>
  
  <select name="cn">
    <%  @ldap.search( :base => @treebase, :filter => @filter ) do |entry| %>
      <option value="<%= entry.dn %>"><%= entry.dn %></option>
    <% end %>
  </select>
  
  
  <div class="field">
    <%= f.label :manager %><br>
    <%= f.check_box :manager %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <%  @ldap.search( :base => @treebase, :filter => @filter ) do |entry| %>
      <%= entry.sAMAccountName %><BR>
      <%= entry.cn %><BR>
      <%= entry.dn %><BR><BR>
  <% end %>
  
  

  
  
<% end %>
