<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @grant.username %>
</p>

<p>
  <strong>CN:</strong>
  <%= @grant.cn %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @grant.manager %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @grant.admin %>
</p>

<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
