<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br>
    <%= collection_select(:site, :company_id, @companies, :id, :name, {:prompt => false}, class: "form-control") %> 

    
    
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.select :country, 
    [
    ['Afghanistan','AF'],
    ['Albania','AL'],
    ['Algeria','DZ'],
    ['Andorra','AD'],
    ['Angola','AO'],
    ['Anguilla','AI'],
    ['Antigua and Barbuda','AG'],
    ['Argentina','AR'],
    ['ARIPO','AP'],
    ['Armenia','AM'],
    ['Aruba','AW'],
    ['Australia','AU'],
    ['Austria','AT'],
    ['Azerbaijan','AZ'],
    ['Bahamas','BS'],
    ['Bahrain','BH'],
    ['Bangladesh','BD'],
    ['Barbados','BB'],
    ['BBM and BBDM','BX'],
    ['Belarus','BY'],
    ['Belgium','BE'],
    ['Belize','BZ'],
    ['Benin','BJ'],
    ['Bermuda','BM'],
    ['Bhutan','BT'],
    ['Bolivia','BO'],
    ['Bosnia and Herzegovina','BA'],
    ['Botswana','BW'],
    ['Bouvet Island','BV'],
    ['Brazil','BR'],
    ['British Virgin Islands','VG'],
    ['Burundi','BI'],
    ['Brunei Darussalam','BN'],
    ['Bulgaria','BG'],
    ['Burkina Faso','BF'],
    ['Burma','BU'],
    ['Cameroon','CM'],
    ['Canada','CA'],
    ['Cape Verde','CV'],
    ['Cayman Islands','KY'],
    ['Central African Republic','CF'],
    ['Chad','TD'],
    ['Chile','CL'],
    ['China','CN'],
    ['Colombia','CO'],
    ['Comoros','KM'],
    ['Congo','CG'],
    ['Cook Islands','CK'],
    ['Costa Rica','CR'],
    ['Cote d’Ivoire','CI'],
    ['Croatia','HR'],
    ['Cuba','CU'],
    ['Cyprus','CY'],
    ['Czech Republic','CZ'],
    ['Czechoslovakia','CS'],
    ['Denmark','DK'],
    ['Djibouti','DJ'],
    ['Dominica','DM'],
    ['Dominican Republic','DO'],
    ['EAPO','EA'],
    ['East Germany','DD'],
    ['East Timor','TP'],
    ['Ecuador','EC'],
    ['Egypt','EG'],
    ['El Salvador','SV'],
    ['EPO','EP'],
    ['Equatorial Guinea','GQ'],
    ['Estonia','EE'],
    ['Ethiopia','ET'],
    ['Falkland Island','FK'],
    ['Faroe Islands','FO'],
    ['Fiji','FJ'],
    ['Finland','FI'],
    ['France','FR'],
    ['Gabon','GA'],
    ['Gambia','GM'],
    ['Greenland','GL'],
    ['Georgia','GE'],
    ['Germany','DE'],
    ['Ghana','GH'],
    ['Gibraltar','GI'],
    ['Greece','GR'],
    ['Grenada','GD'],
    ['Guatemala','GT'],
    ['Guinea','GN'],
    ['Guinea-Bissau','GW'],
    ['Guyana','GY'],
    ['Haiti','HT'],
    ['Honduras','HN'],
    ['Hong Kong','HK'],
    ['Hungary','HU'],
    ['Iceland','IS'],
    ['IIB','IB'],
    ['India','IN'],
    ['Indonesia','ID'],
    ['Iran','IR'],
    ['Iraq','IQ'],
    ['Ireland','IE'],
    ['Israel','IL'],
    ['Italy','IT'],
    ['Jamaica','JM'],
    ['Japan','JP'],
    ['Jordan','JO'],
    ['Kampuchea','KH'],
    ['Kazakhstan','KZ'],
    ['Kenya','KE'],
    ['Kiribati','KI'],
    ['Kuwait','KW'],
    ['Kyrgyzstan','KG'],
    ['Laos','LA'],
    ['Lebanon','LB'],
    ['Lesotho','LS'],
    ['Liberia','LR'],
    ['Libya','LY'],
    ['Liechtenstein','LI'],
    ['Lithuania','LT'],
    ['Luxembourg','LU'],
    ['Macao','MO'],
    ['Macedonia','MK'],
    ['Madagascar','MG'],
    ['Malawi','MW'],
    ['Malaysia','MY'],
    ['Maldives','MV'],
    ['Mali','ML'],
    ['Malta','MT'],
    ['Marshall Islands','MH'],
    ['Mauritania','MR'],
    ['Mauritius','MU'],
    ['Mexico','MX'],
    ['Micronesia','FM'],
    ['Moldova','MD'],
    ['Monaco','MC'],
    ['Mongolia','MN'],
    ['Montserrat','MS'],
    ['Morocco','MA'],
    ['Mozambique','MZ'],
    ['Myanmar','MM'],
    ['Namibia','NA'],
    ['Nauru','NR'],
    ['Nepal','NP'],
    ['Netherlands(Holland)','NL'],
    ['Netherlands Antilles','AN'],
    ['New Zealand','NZ'],
    ['Nicaragua','NI'],
    ['Niger','NE'],
    ['Nigeria','NG'],
    ['North Korea','KP'],
    ['Norway','NO'],
    ['Northern Mariana Islands','MP'],
    ['OAPI','OA'],
    ['OHIM','EM'],
    ['Oman','OM'],
    ['Other Country','XX'],
    ['Other Country in Africa','X6'],
    ['Other Country in Asia','X1'],
    ['Other Country in Europe','X4'],
    ['Other Country in North America','X2'],
    ['Other Country In Oceania','X5'],
    ['Other Country in South America','X3'],
    ['Pakistan','PK'],
    ['Panama','PA'],
    ['Papua New Guinea','PG'],
    ['Paraguay','PY'],
    ['Peru','PE'],
    ['Philippines','PH'],
    ['Poland','PL'],
    ['Portugal','PT'],
    ['Qatar','QA'],
    ['Republic of Yemen','YD'],
    ['Rhodesia','RH'],
    ['Romania','RO'],
    ['Russian Federation','RU'],
    ['Rwanda','RW'],
    ['Saint Helena','SH'],
    ['Saint Kitts and Nevis','KN'],
    ['Saint Lucia','LC'],
    ['Saint Vincent and the Grenadines','VC'],
    ['Samoa','WS'],
    ['San Marino','SM'],
    ['Sao Tome and Principe','ST'],
    ['Saudi Arabia','SA'],
    ['Senegal','SN'],
    ['Seychelles','SC'],
    ['Sierra Leone','SL'],
    ['Singapore','SG'],
    ['Slovakia','SK'],
    ['Slovenia','SI'],
    ['Solomon Islands','SB'],
    ['Somalia','SO'],
    ['South Africa','ZA'],
    ['South Georgia and The South Sandwich Islands','GS'],
    ['South Korea','KR'],
    ['Spain','ES'],
    ['Sri Lanka','LK'],
    ['Sudan','SD'],
    ['Suriname','SR'],
    ['Swaziland','SZ'],
    ['Sweden','SE'],
    ['Switzerland','CH'],
    ['Syria','SY'],
    ['Taiwan','TW'],
    ['Tajikistan','TJ'],
    ['Tanzania','TZ'],
    ['Thailand','TH'],
    ['Togo','TG'],
    ['Tonga','TO'],
    ['Trinidad and Tobago','TT'],
    ['Tunisia','TN'],
    ['Turkey','TR'],
    ['Turkmenistan','TM'],
    ['Turks and Caicos Islands','TC'],
    ['Tuvalu','TV'],
    ['Uganda','UG'],
    ['Ukraine','UA'],
    ['United Arab Emirates','AE'],
    ['United Kingdom','GB'],
    ['United States of America','US'],
    ['Uruguay','UY'],
    ['Soviet Union','SU'],
    ['Uzbekistan','UZ'],
    ['Vanuatu','VU'],
    ['Vatican City','VA'],
    ['Venezuela','VE'],
    ['Vietnam','VN'],
    ['Volta','HV'],
    ['Western Sahara','EH'],
    ['WIPO','WO'],
    ['Yemen','YE'],
    ['Yugoslavia','YU'],
    ['Zaire','ZR'],
    ['Zambia','ZM'],
    ['Zimbabwe','ZW']],
    {include_blank: "Select the country"}, {class: "form-control"}
    %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
